In [1]:
world = {"China":30.50,"India":2.288,"Albania":39.11}

In [2]:
print(world)

{'China': 30.5, 'India': 2.288, 'Albania': 39.11}

In [3]:
world["India"]

2.288

In [26]:
world_dic = {
    "COuntries": ["China","India","Albania"],
    "Population":[30.50,2.88,39.21]
}

In [ ]:
### Dataframe (tbale)

In [9]:
import pandas as pd

In [27]:
df = pd.DataFrame(world_dic)
print(df)

  COuntries  Population
0     China       30.50
1     India        2.88
2   Albania       39.21

In [ ]:
#method-1
df.COuntries

0      China
1      India
2    Albania
Name: COuntries, dtype: object

In [25]:
print(type(df), type(df.COuntries))

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [ ]:
#method-2 (preferred)
df["COuntries"]

0      China
1      India
2    Albania
Name: COuntries, dtype: object

In [31]:
df.head(2)

  COuntries  Population
0     China       30.50
1     India        2.88

In [32]:
df.tail(2)

  COuntries  Population
1     India        2.88
2   Albania       39.21

In [33]:
df.sample()

  COuntries  Population
1     India        2.88

In [34]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [35]:
df.columns

Index(['COuntries', 'Population'], dtype='object')

In [44]:
df.shape

(3, 2)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COuntries   3 non-null      object
 1   Population  3 non-null      float64
dtypes: float64(1), object(1)
memory usage: 180.0+ bytes

In [47]:
import pandas as pd

# Example DataFrame
df = pd.DataFrame({
    'Country': ['USA', 'China', 'India'],
    'GDP': [59850, 10660, 1800],
    'LifeExp': [78.5, 76.9, 69.4]
})

# Rename columns
df_renamed = df.rename(columns={'GDP': 'GDP_per_Capita', 'LifeExp': 'Life_Expectancy'})

print(df_renamed)

  Country  GDP_per_Capita  Life_Expectancy
0     USA           59850             78.5
1   China           10660             76.9
2   India            1800             69.4